<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mof.cc.itsm.mapper.QuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.mof.cc.itsm.entity.Question">
        <id column="id" property="id" />
        <result column="quetion" property="quetion" />
        <result column="question_detail" property="questionDetail" />
        <result column="ask_user" property="askUser" />
        <result column="ask_time" property="askTime" />
        <result column="reply" property="reply" />
        <result column="reply_user" property="replyUser" />
        <result column="reply_time" property="replyTime" />
        <result column="likes" property="likes" />
        <result column="unlikes" property="unlikes" />
        <result column="is_deleted" property="isDeleted" />
        <result column="bak1" property="bak1" />
        <result column="bak2" property="bak2" />
        <result column="bak3" property="bak3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, quetion, question_detail, ask_user, ask_time, reply, reply_user, reply_time, likes, unlikes, is_deleted, bak1, bak2, bak3
    </sql>

</mapper>

